.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Cards */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    /* display: flex; */
    /* padding: 1% 1%; */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#cards {
    margin: 3%;
}

#nav {
    /* top: 0; */
    /* left: 0; */
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.p5Canvas {
    /* flex: 2; */
    /* padding-right: 10%; */
    /* flex-direction: row; */
    width: 100% !important;
    height: 50% !important;
    padding-bottom: 2%;
}

#sliders {
    padding-left: 1%;
}

input[type='range'] {
    flex: 1;
    width: 180px;
    padding: 1%;
}

input[type='number'] {
    /* flex: 1; */
    -moz-appearance: textfield;
    width: 100px;
}
